@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: quick;
    src: url("/FONTS/Quicksand-VariableFont_wght.ttf");
}
*{
    font-family: quick !important;
    outline:none;
}
body{
    background: #202020;
}





/*Iam TOPG , That's why i use tailwind css*/


table, td, th{
    border-collapse: collapse;
    border:5px solid #363636;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F52248;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }