@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: quick;
    src: url("/FONTS/Quicksand-VariableFont_wght.ttf");
}
*{
    font-family: quick !important;
    outline:none;
}
body{
    background: #202020;
}





/*Iam TOPG , That's why i use tailwind css*/


